/* new classes */
.ArchiveBrowse ul.news_navigation_710 { clear:left; width:708px !important; }
.ArchiveBrowse li.first_nav_number_710 { padding-left:164px; }
.ArchiveBrowse li.last_nav_number_710 { padding-right:164px; }